<% if @user.errors.any? %>
    <div id="error_explanation">
        <% @user.errors.full_messages.each do |error| %>
            <div class="alert alert-danger alert-dismissible fade show" role="alert">
                <p><%= error %></p>
            </div>
        <% end %>
    </div>
<% end %>